

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div style="float:right">
            <a href="/app/#/project/view/{{project._id}}/feedback/new" class="btn btn-primary">Submit a Feedback</a>
            <a href="/app/#/project/view/{{project._id}}/related" class="btn btn-success">Related</a>
            <a href="/app/#/project/view/{{project._id}}/risks" class="btn btn-danger">Risks <span ng-if="project.risks != undefined">({{project.risks.length}})</span></a>
        </div>
        <a href="/app/#/project/view/{{project._id}}">Back</a>
        <div class="col-md-12 col-md-offset-1">
            <h2 class="grey">
                <img ng-src="{{project.thumbnail}}" alt="Thumbnail" height="60" width="90" style="border:1px solid grey; border-radius:10px;">
                {{ project.name }}
            </h2>
        </div>
        <div style="font-style: italic; font-size: 0.8em; margin-left:210px">
            {{ project.description}}
        </div>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Feedback</h4><br/>
        <div ng-repeat="fb in  project.feedback"
             style="border:1px solid grey; margin:10px;width:800px;height:120px;padding:10px;border-radius: 10px;">
            <h5>{{fb.comments.toString().substring(0.50)}}</h5>
                {{fb.type}} - {{fb.detail}}<br/>
                <div style="float: left;font-size: smaller">{{fb.updated}}</div>
                <div style="float: right;font-size: smaller">submitted by {{fb.by.name}}</div>
        </div>
    </div>
    <div class="row" ng-show="!project.feedback">
        <div class="col-md-8 col-md-offset-2">
            No feedback found for this project.
        </div>
    </div>
</div>

