<div class="col-md-9 col-md-offset-3">
    <div class="col-md-5">
        <div style="float:right">
            <a href="/app/#/project/view/{{project._id}}/feedback" class="btn btn-primary">Feedback</a>
            <a href="/app/#/project/view/{{project._id}}/related" class="btn btn-success">Related</a>
            <a href="/app/#/project/view/{{project._id}}/risks" class="btn btn-danger">Risks <span
                    ng-if="project.risks != undefined">({{project.risks.length}})</span></a>
        </div>
        <a href="/app/#/project/view/{{project._id}}">Back</a>
        <br/><br/><br/><br/>
        <h4>Submit your feedback</h4>
        <form name="form" ng-submit="save()" role="form">
            <div class="form-group"
                 ng-class="{ 'has-error': form.feedbackEntry.comments.$dirty && form.feedbackEntry.comments.$error.required }">
                <label for="feedbackEntry.comments">Comments</label>
            <textarea name="feedbackEntry.comments" id="feedbackEntry.comments"
                      class="form-control" ng-model="feedbackEntry.comments" required
                      style="height: 250px"
                      placeholder="Enter your comments here ..">
            </textarea>
            <span ng-show="form.feedbackEntry.comments.$dirty && form.feedbackEntry.comments.$error.required"
                  class="help-block">Comments are required</span>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': form.feedbackEntry.type.$dirty && form.feedbackEntry.type.$error.required }">
                <label for="type">Provide feedback for?</label>
                <select ng-model="feedbackEntry.type" ng-options="t as t for t in artifactTypeList"
                        class="form-control"
                        style="height:32px;"></select>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': form.feedbackEntry.detail.$dirty && form.feedbackEntry.detail.$error.required }">
                <label for="type">Please provide detail of the artifact chosen for feedback:</label>
                <input type="text" name="feedbackEntry.detail" id="feedbackEntry.detail"
                       class="form-control" ng-model="feedbackEntry.detail" required
                       placeholder="Type details of the project, phase, milestone or artifact here .."/>
            <span ng-show="form.feedbackEntry.detail.$dirty && form.feedbackEntry.detail.$error.required"
                  class="help-block">Artifact detail is required</span>
            </div>
            <div class="form-actions">
                <a href="/app/#/project/view/{{project._id}}">Cancel</a>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
            <input type="hidden" ng-model="feedbackEntry.comments"
        </form>
    </div>
</div>