
<div class="col-md-9 col-md-offset-1">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <form ng-submit="search()">
                <input type="text" style="width:300px;height:32px;" ng-model="searchparam" required
                       placeholder="Search artifacts by name or tags"/> &nbsp;
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Search</button>
               <!-- <a href="#/media/create" class="btn btn-primary btn-sm" style="float:right;margin-right:10px;">Upload Artifact</a>-->
                <br/>
                <span ng-show="form.value.$dirty && form.value.$error.required" class="help-block">Search text is required</span>
            </form>
        </div>
        <br/><br/><br/><br/>
        <div class="card" ng-repeat="item in media"
             style="float:left;border:2px solid grey;margin: 10px;padding: 5px;border-radius:10px; width:240px;text-align: center">
            <a href="{{item.uri}}" target="_blank">
                <img ng-src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Adobe_ExportPDF_icon.png"
                     ng-if="item.filetype === 'application/pdf'"
                     alt="Media" height="60" width="60" style="border-radius:30px;border:1px solid grey;"/>
                <img ng-src="https://upload.wikimedia.org/wikipedia/commons/2/23/Text-txt.svg"
                     ng-if="item.filetype === 'text/plain'"
                     alt="Media" height="60" width="60" style="border-radius:30px;border:1px solid grey;"/>
                <img ng-src="https://upload.wikimedia.org/wikipedia/commons/2/23/Text-txt.svg"
                     ng-if="item.filetype.lastIndexOf('image',0) === 0"
                     alt="Media" height="60" width="60" style="border-radius:30px;border:1px solid grey;"/>
                <img ng-src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Gnome-video-x-generic.svg"
                     ng-if="item.filetype === 'video/mp4' && !item.thumbnail"
                     alt="Media" height="60" width="60" style="border-radius:30px;border:1px solid grey;"/>
                <img ng-src="{{item.thumbnail}}"
                     ng-if="item.filetype === 'video/mp4' && item.thumbnail"
                     alt="Media" height="60" width="60" style="border-radius:30px;border:1px solid grey;"/>
            </a>
            <div class="card-block" style="text-align: center">
                <h4 class="card-title" style="height:50px;">{{item.title}}</h4>
                <p class="card-text" style="font-size:0.8em;">{{item.description}}</p>
                <div style="margin:2px;">
                    <br/><br/><br/>
                    <small style="float:left;margin-left:5px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Comments_font_awesome.svg"
                             height="16" width="16"/>
                        {{item.comments.length}} | </small>
                    <small style="float:left;margin-left:5px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png"
                         height="16" width="16"/>
                    {{item.likes}} | </small>
                    <small style="float:left;margin-left:5px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/StarIconGold.png"
                             height="16" width="16"/>
                        {{item.rating}}</small>
                </div>
                <a href="#/media/view/{{item._id}}" class="btn btn-warning btn-sm"
                   style="float:right;">View</a>
            </div>

        </div>

        <div class="row" ng-if="!isPresent">
            <div class="col-md-2 col-md-offset-2">
                No artifacts found.
            </div>
        </div>

    </div>
</div>

