
<div class="col-md-9 col-md-offset-1">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <form ng-submit="search()">
                    <input type="text" style="width:300px;height:32px;" ng-model="searchparam" required
                           placeholder="Search projects by name"/> &nbsp;
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Search</button>
                    <a href="#/project/create" class="btn btn-primary btn-sm" style="float:right;margin-right:10px;">New Project</a>
                    <br/>
                    <span ng-show="form.value.$dirty && form.value.$error.required" class="help-block">Search text is required</span>
                </form>
            </div>
        <br/><br/><br/><br/>
        <div class="card" ng-repeat="project in projects"
             style="float:left;border:2px solid grey;margin: 10px;padding: 5px;border-radius:10px; width:240px;text-align: center">
            <a href="#/project/view/{{project._id}}">
                <img class="card-img-top" ng-src="{{project.thumbnail}}" alt="Card image cap" height="120" width="200" border="0" style="border-radius:15px;">
            </a>
            <div class="card-block" style="text-align: center">
                <h4 class="card-title" style="height:50px;">{{project.name}}</h4>
                <p class="card-text" style="font-size:0.8em;height:40px;">{{ pad( 60, project.description, ' ')}}</p>
                <a href="#/project/view/{{project._id}}" class="btn btn-warning btn-sm" style="float:right;">View</a>
            </div>

        </div>

        <div class="row" ng-if="!isPresent">
            <div class="col-md-2 col-md-offset-2">
                No projects found.
            </div>
        </div>

        </div>
</div>

