<div class="col-md-5 col-md-offset-3">
    <div style="float:right">
        <a href="/app/#/project/view/{{project._id}}/feedback" class="btn btn-primary">Feedback</a>
        <a href="/app/#/project/view/{{project._id}}/related" class="btn btn-success">Related</a>
        <a href="/app/#/project/view/{{project._id}}/risks" class="btn btn-danger">Risks <span ng-if="project.risks != undefined">({{project.risks.length}})</span></a>
    </div>
    <a href="/app/#/project/view/{{project._id}}">Back</a>
    <br/><br/>
    <br/><br/>
    <h4>Submit a risk</h4>
    <form name="form" ng-submit="save()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.risk.title.$dirty && form.risk.title.$error.required }">
            <label for="type">Brief summary of the risk</label>
            <input type="text" name="risk.title" id="risk.title"
                   class="form-control" ng-model="risk.title" required
                   placeholder="brief summary of the risk .."/>
            <span ng-show="form.risk.title.$dirty && form.risk.title.$error.required"
                  class="help-block">Artifact detail is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.risk.details.$dirty && form.risk.details.$error.required }">
            <label for="risk.details">Details fo the risk</label>
            <textarea name="risk.details" id="risk.details" class="form-control" ng-model="risk.details" required
                      placeholder="Please provide elaborate details of the risk .." style="height:250px;">
            </textarea>
            <span ng-show="form.risk.details.$dirty && form.risk.details.$error.required" class="help-block">risk.details are required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.risk.severity.$dirty && form.risk.severity.$error.required }">
            <label for="type">Severity</label>
            <select ng-model="risk.severity" ng-options="t as t for t in serverityList" class="form-control"
                    style="height:32px;"></select>
        </div>
        <div class="form-actions">
            <a href="/app/#/project/view/{{project._id}}/risks">Cancel</a>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>