<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form  ng-controller="UploadCtrl as up" name="up.upload_form">
            <div class="modal-header">
                <h3> {{up.title}} </h3>
            </div>
            <div class="modal-body">
                <input
                        class="form-control"
                        type="file"
                        ngf-select
                        ng-model="up.file"
                        name="file"
                        ngf-pattern="'image/*'"
                        accept="image/*"
                        ngf-max-size="20MB"
                />
                <br/><br/>
                <div style="text-align: center">
                    <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || 'https://upload.wikimedia.org/wikipedia/commons/a/a1/Project_logo_280x280.png'"/>
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large
                        {{up.file.size / 1000000 | number:1 }}MB: max 20M</i>
                    <!--  Multiple files  -->
                    <!-- <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                     Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>-->

                    <p>{{up.progress}}</p>
                </div>
                <br/><br/>
                <br/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="ngdialog-button ngdialog-button-secondary"
                        ng-click=closeThisDialog("Cancel")>Cancel</button> &nbsp;
                <button type="submit" class="ngdialog-button ngdialog-button-primary"
                        ng-click="up.submit()">Apply</button>
            </div>
        </form>

    </div>
</div>